
.container{
    display: grid;
    height:100vh;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "slid main main main"
    "slid main main main"
    "slid footer footer footer"
    ;
    grid-gap:2px;

}
 
.container .nav{
  
    background-color: burlywood;
    grid-area:nav;
}
.container .main{
     
    background-color:cadetblue;
    grid-area:main;
}
.container .slid{
   
    background-color: chartreuse;
    grid-area:slid;
}
.container .footer{
   
    background-color: chocolate;
    grid-area:footer;
}
.container *{
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:500px) {
    
.container{
 grid-template-columns: 1fr;
 grid-template-rows: auto;
 grid-template-areas:
 "nav"
 "slid"
 "main"
 "footer"
 ;
}
    
}